{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">

<title>{% block title %}Home{% endblock %}</title>

<!-- CSS -->
<link rel="stylesheet" href="{% static 'assets/css/app.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/bundles/datatables/datatables.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/components.css' %}">

<link rel="shortcut icon" href="{% static 'assets/img/favicon.ico' %}">

{% block extra_css %}{% endblock %}

</head>

<body>

<div class="loader"></div>

<div id="app">

<div class="main-wrapper main-wrapper-1">

<div class="navbar-bg"></div>

<!-- HEADER -->
{% include 'layout/header.html' %}

<div class="dropdown-menu dropdown-menu-right pullDown">

<div class="dropdown-title">
Hello User
</div>

<a href="#" class="dropdown-item has-icon">
<i class="far fa-user"></i> Profile
</a>

<a href="#" class="dropdown-item has-icon">
<i class="fas fa-cog"></i> Settings
</a>

<div class="dropdown-divider"></div>

<a href="#" class="dropdown-item has-icon text-danger">
<i class="fas fa-sign-out-alt"></i> Logout
</a>

</div>

</li>

</ul>

</nav>

<!-- SIDEBAR -->
{% include 'layout/sidebar.html' %}

<!-- MAIN CONTENT -->
<div class="main-content">
    <section class="section">
        
        {% block content %}
        {% endblock %}

    </section>
</div>

<!-- FOOTER -->
{% include 'layout/footer.html' %}

</div>
</div>

<!-- JS FILES -->

<script src="{% static 'assets/js/app.min.js' %}"></script>
<script src="{% static 'assets/bundles/datatables/datatables.min.js' %}"></script>
<script src="{% static 'assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/bundles/jquery-ui/jquery-ui.min.js' %}"></script>
<!--<script src="{% static 'assets/js/page/datatables.js' %}"></script>-->

<script src="{% static 'assets/bundles/apexcharts/apexcharts.min.js' %}"></script>

<script src="{% static 'assets/bundles/amcharts4/core.js' %}"></script>
<script src="{% static 'assets/bundles/amcharts4/charts.js' %}"></script>
<script src="{% static 'assets/bundles/amcharts4/animated.js' %}"></script>

<script src="{% static 'assets/bundles/jquery.sparkline.min.js' %}"></script>

<script src="{% static 'assets/js/page/index.js' %}"></script>

<script src="{% static 'assets/js/scripts.js' %}"></script>

<script src="{% static 'assets/js/custom.js' %}"></script>

{% block extra_js %}

<script>

$(document).ready(function(){

    $('#table-1').DataTable({

        "pageLength": 10,

        "lengthMenu": [
            [10, 25, 50, 100],
            [10, 25, 50, 100]
        ],

        "paging": true,

        "searching": true,

        "ordering": true,

        "info": true,

        "lengthChange": true

    });

});

</script>

{% endblock %}

</body>

</html>
