{% load static %}

<!-- SIDEBAR -->
<div class="main-sidebar sidebar-style-2">
  <aside id="sidebar-wrapper">

    <!--<div class="sidebar-brand">
      <a href="#">
        <img src="{% static 'assets/img/logo.png' %}" class="header-logo">
        <span class="logo-name">Zivi</span>
      </a>
    </div>-->

    <div class="sidebar-user">
      <div class="sidebar-user-picture">
        <img src="{% static 'assets/img/C.jpg' %}" class="user-img-radious-style">
      </div>

      <div class="sidebar-user-details">
        <div class="user-name">Chaitanya Fiske</div>
        <div class="user-role">Admin</div>
      </div>
    </div>

    <ul class="sidebar-menu">
      
      <li class="menu-header">Menu</li>
      
      <li>
        <a class="nav-link" href="/dashboard/">Dashboard</a>
      </li>
      
      <li>
        <a class="nav-link" href="/users/">Users</a>
      </li>

      <li>
        <a class="nav-link" href="/tasks/">Tasks</a>
      </li>

    </ul>

  </aside>
</div>
